body {
  width: 75%;
  margin: auto;
  background-color: #e4f1f7;
  text-emphasis-color: #000000;
}

h1 {
  margin-top: 30px;
  text-align: center;
}

h2 {
margin-top: 30px;
text-align: center;
}

p {
  margin-top: 30px;
  text-align: center;
  font-size: large;
}

.box .inputBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.box .inputBox label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
  animation: LabelOnLoad 1s forwards 0s ease;
}
@keyframes LabelOnLoad {
  0% {
    transform: rotate(0) translateY(-19px);
    opacity: 0;
  }
  100% {
    transform: rotate(0) translateY(0);
    opacity: 1;
  }
}

.box {
  margin-top: 40%;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 400px;
  width: 600px;
  padding: 40px;
  background: rgba(95, 91, 91, 0.3);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 10);
  border-radius: 10px;
  backdrop-filter: blur(6px);
  border: solid white 1px;
  opacity: 1;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}
@keyframes fadeIn {
  0% {
   opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
   }
   100% {
    opacity: 1;
  }
}

/* log in button */
.log-in {
  float: center;
  display: block;
  color: #252537;

  width: 280px;
  height: 50px;

  background: #fff;

  cursor: pointer;
  text-align: center;
  
  margin: 7% auto;
  letter-spacing: 0.05em;
}

/* register button */
.register {
  float: center;
  display: block;
  color: #252537;

  width: 280px;
  height: 50px;

  background: #fff;

  cursor: pointer;
  text-align: center;
  
  margin: 7% auto;
  letter-spacing: 0.05em;

  align-items: right;
}

.input-wrapper {
  text-align: center;
}

.input-wrapper input[type="submit"] {
  border: none;
  outline: none;
  color: #fff;
  background: #6cadf8;
  /* padding: 10px 20px; */
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  display: block;
  float: right;
  text-align: center;
}

.input-wrapper input[type="submit"]:hover {
  background-color: rgba(79, 118, 226, 0.7);
  transition: all 300ms ease-out;
}

.cardTitle{
  font-size: 3.3rem;
  color: white;
  text-align: center;
}

